<!DOCTYPE html>
<html>
<head>
        {% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static "box/css/main.css" %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1 style="font-weight: bold">juS talkS</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">

		
<title>CHAT BOX</title>


<head lang="en">
<meta charset="UTF-8">
</head>

<body>
<h1>Thanks for registering with this site. You should receive an activation email shortly to activate the account</h1>
</body>

<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'})
 // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
 </script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
 


</div>
		</div>
		<!-- copyright -->
	
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->

	

</body>
</html>
